table
{
    background-color: dimgray;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    height: 13em;
    border: 1px solid white; 
    margin: 0.6em; 
}

th
{
    width: 13em;
    height: 2.5em;
    vertical-align: middle;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

tr:before
{
    content: "- ";
    text-indent: -1em;
}

.wrappedRows
{
    display: block; 
    margin: 0.7em;
}


@media screen and (max-width: 640px) { 
    
    .container 
    {
        width: 100%;
    }
    
    body
    {
        margin: 0;
        padding: 0
    }
    
    table
    {
        width: 100%;
        margin: 0;
        height: auto;
        border-spacing: 1em;
    }
    
    th
    {   
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        border-bottom: none;
    }
    
    tr:before
    {
        content: none;
    }
    
    tr
    {
        text-indent: 1em;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        height: 3.5em;
        border-bottom: 1px solid white;
        font-size: 0.8em;
        font-weight: 400;
    }
    
    
    .wrappedRows
    {
        display: none;
        margin: 0;
        background-color: black;
        text-transform: uppercase;
    }
}


