table
{
    background-color: dimgray;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    height: 200px;
    border: 1px solid white; 
    margin: 10px; 
}

th
{
    width: 200px;
    height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    text-align: center;
}

tr:before
{
    content: "- ";
    text-indent: -5px;
}

.wrappedRows
{
    display: block;
    margin: 10px;
}


@media screen and (max-width: 640px) { 
    
    .container 
    {
        width: 100%;
    }
    
    body
    {
        margin: 0;
        padding: 0
    }
    
    table
    {
        width: 100%;
        margin: 0px;
        height: auto;
        border-spacing: 1em;
    }
    
    th
    {   
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        border-bottom: none;
    }
    
    tr
    {
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        height: 3em;
        border-bottom: 1px solid white;
        text-indent: 15px;
    }
    
    
    .wrappedRows
    {
        display: none;
        margin: 0;
        background-color: black;
        text-transform: uppercase;
    }
}


